
  <div class="corridors">
    <div class="team">
  <br>
  <br>
  <br>

    <div class="container">

     <div class="col-xs-6 text-center">
        <%= image_tag "abdu3.png" %>
      <h2>Abdou</h2>
      </div>


      <div class="col-xs-6 text-center">
      <%= image_tag "bast.png" %>
      <h2>Bastou</h2>
      </div>

      <div class="col-xs-6 text-center">
      <%= image_tag "gil.png" %>
      <h2>Gillou</h2>
      </div>

      <div class="col-xs-6 text-center">
      <%= image_tag "mat.png" %>
      <h2>Mathou</h2>
      </div>

  </div>
</div>
</div>
