.footer-cheminator {
  background-size: cover;
  background: #FF00FF;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-cheminator i{
  font-size: 30px;
  padding: 10px;
  color: black;
}

// .footer-cheminator p{
//   position: absolute;
//   right: 0;
//   font-size: 30px;
//   display: inline-block;
//   font-color: black;


// }
