.footer-cheminator {
  background-size: cover;
  background: orange;
  height: 10vh;
  padding: 20px;
  margin-bottom: 0px;
}

.footer-cheminator i{
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
}
