/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.min-height {
  min-height: 80vh;
}

.btn-medium {
  color: orange;
  border: 3px solid orange;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 1;
}
.btn-medium:hover {
  opacity: 0.8;
  text-decoration: none;
  color: black;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */

.map {
  width: 90%;
  height: 70vh;
  margin: 45px 20px 45px 20px;
  border-color: #F17300;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;



}

.corridors {
  background-color: #234E65;
  min-height: 80vh;
}

.corridors h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
}

.team h1 {
  margin-top: 0px;
}

.team img {
  // border-color: #F17300;
  // border-radius: 5px;
  // border-style: solid;
  // border-width: 1px;
  width: 350px;
  max-height: 350px;
}

.team img:hover {
  // border-color: #F17300;
  // border-radius: 5px;
  // border-style: solid;
  // border-width: 1px;
  width: 350px;
  max-height: 350px;
  opacity: 0.5;
}

.team h2 {
  font-weight : 30px;
  text-align: center;
}

