<div class="navbar-cheminator">
  <!-- Logo -->
  <a href="/" class="navbar-cheminator-brand">
    <%= image_tag "cheminator_helmet.jpg" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-cheminator-right hidden-xs hidden-sm">

    <!-- Text link -->

    <!-- Text link -->
    <a href="" class="navbar-cheminator-item navbar-cheminator-link">Team</a>

    <!-- Notification link-->
    <a href="" class="navbar-cheminator-item navbar-cheminator-link">
      <div class="badge-container">
        <div class="badge badge-blue"></div>
      </div>
    </a>

    <!-- Profile picture and dropdown -->
    <div class="navbar-cheminator-item">
      <div class="dropdown">
         <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-cheminateor-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-cheminator-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li> <%=link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>

    <!-- Button (call-to-action) -->
    <%= link_to "Log in", user_session_path, method: :post %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-cheminator-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-cheminator-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
